1. Load the tips dataset from either pydataset or seaborn.

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.metrics import mean_squared_error, r2_score

from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import f_regression 
from math import sqrt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

import viz
import pydataset

ModuleNotFoundError: No module named 'viz'

In [8]:
tips = pydataset.data('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [19]:
# x = features and y = target
x = tips[['total_bill']]
y = tips[['tip']]
df = tips

2. Fit a linear regression model (ordinary least squares) and compute yhat, predictions of tip using total_bill.

Here is some sample code to get you started:

In [25]:
df = tips
df['yhat_baseline'] = y.mean()
df.head(3)

   total_bill   tip     sex smoker  day    time  size  yhat_baseline
1       16.99  1.01  Female     No  Sun  Dinner     2            NaN
2       10.34  1.66    Male     No  Sun  Dinner     3            NaN
3       21.01  3.50    Male     No  Sun  Dinner     3            NaN

In [12]:
from sklearn.linear_model import LinearRegression

X = tips.tip
y = ti

# assuming X and y are already defined
model = LinearRegression().fit(X, y)
predictions = model.predict(X)

# Modify and add to the code above as necessary 
# for it to work with the tips dataset.

NameError: name 'y' is not defined

3. Plot the residuals for the linear regression model that you made.

4. Calculate the sum of squared errors, explained sum of squares, total sum of squares, mean squared error, and root mean squared error for your model.